@charset "utf-8";

.layout-gnb-side {
  .v-list--nav {
    padding: 0;
    > .v-list-group {
      .v-list-group.two-depth {
        > .v-list-item {
          &::before {
            display: none;
          }
          &--active {
            &::before {
              background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2' y='8' width='15' height='3' fill='%23EF9191'/%3E%3C/svg%3E%0A");
            }
          }
          .v-list-item__content {
            padding-left: 36px;
          }
        }
        .v-list-group__items {
          padding-left: 48px;
          .v-list-item__title {
            font-weight: 400;
          }
        }
      }
      > .v-list-item {
        padding: 0 0 0 14px !important;
        border-radius: 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        &:hover {
          background: #D6E6FF;
          background: color-mix(in srgb,var(--primary-color),#fff 91%);
          .v-list-item__title {
            font-weight: 700;
          }
        }
        > .v-list-item__icon {
          width: 20px;
          height: 20px;
          margin-right: 14px !important;
          margin-top: auto;
          margin-bottom: auto;
          > .v-icon {
            color: #000;
          }
        }
        .three-depth {
          .v-list-item__icon {
            display: none;
          }
        }
      }
      .v-list-item__title {
        color: #000;
        &.active {
          color: $color-main;
          filter: saturate(180%);
        }
      }
      &.v-list-group--active {
        > .v-list-item {
          background: $color-main;
          .v-list-item__title {
            color: #fff;
            font-weight: 700;
          }
          .mdi-chevron-down::before {
            color: #fff;
          }
        }
        > .v-list-group__items {
          background: #f0eefb;
          background: color-mix(in srgb,var(--primary-color),#fff 90%);
          .v-list-item {
            &:hover {
              &::before {
                opacity: 0;
              }
              .v-list-item__title {
                color: $color-main;
                filter: saturate(180%);
              }
            }
          }
          .v-list-item__icon {
            margin: 17px 5px 0 0px !important;
          }
          .v-list-item--active {
            .v-list-item__title {
              color: #000 !important;
              font-weight: 700;
            }
          }
        }
      }
    }
    .v-list-item {
      padding: 0px !important;
      margin: 0px !important;
      &.two-depth {
        padding-left: 36px !important;
      }
      .three-depth {
        padding-left: 20px !important;
      }
      &.three-depth {
        padding-left: 0px !important;
      }
    }
    .v-list-group.two-depth {
      > .v-list-item {
        position: relative;
        background: #F5F8FF;
        background: color-mix(in srgb,var(--primary-color),#fff 95%);

        &:hover,
        &.v-list-item--active {
          background: #D8E4FF;
          background: color-mix(in srgb,var(--primary-color),#fff 80%);
          filter: saturate(180%);
          .v-list-item__title {
            color: #000 !important;
          }
        }
      }
      > .v-list-item:after {
        position: absolute;
        top: 8px;
        right: 16px;
        width: 20px;
        height: 20px;
        padding: 0px !important;
        margin: 0;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 10H6' stroke='%23232323' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.0002 14V6' stroke='%23232323' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
      > .v-list-item.active-icon:after {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 10H6' stroke='%23232323' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
    }
    .v-list-item__icon {
      margin-right: 16px !important;
    }
  }
}
