@charset "utf-8";

.frame-popup{    	
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    > header{    
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        padding: 0 20px;
        background-color: #525252;
        line-height: 50px;
        box-sizing: border-box;
        h1{
            flex: 1 1 auto;
            padding-bottom: 2px;
            font-size: 17px;
            font-weight: 300;
            letter-spacing: 0;
            color: #fff;
        }
        .pl-icon-close-lg{
            position: relative;
            top: -2px;
        }
    }
    > main{        
        flex: 1 1 auto;
        min-height: 0;
        max-height: 100%;
        height: auto;
        padding: 20px 20px 15px;
        overflow: auto;	
        box-sizing: border-box;	
    }
    > footer{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 50px;
        padding: 10px 20px;
        border-top: 1px solid $color-border;
        background-color: #fff;
        box-sizing: border-box;
    }
}