@charset "utf-8";

.v-sheet.v-card:not(.v-sheet--outlined){    
	border-radius: 6px;
	border: 1px solid $color-border;
	box-shadow: 0 0 6px rgba(#000,.15);
	box-sizing: border-box;
}

.v-card > *:first-child:not(.v-btn):not(.v-chip):not(.v-avatar):not(.pl-btn), 
.v-card > *:last-child:not(.v-btn):not(.v-chip):not(.v-avatar):not(.pl-btn),
.v-card > .v-card__progress + *:not(.v-btn):not(.v-chip):not(.v-avatar):not(.pl-btn) {border-radius: inherit;}
