@charset "utf-8";

.theme--light.v-data-table.pl-grid,
.theme--light.v-data-table.v-data-table--fixed-header.pl-grid {
  border: 1px solid;
  border-color: $color-border;
  border-radius: 5px;
  .v-data-table__wrapper {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    position: relative;

    .multiline-header {
      white-space: pre-line;
    }

  }
  // &.is-hrz{
  //     .v-data-table__wrapper > table {
  //         table-layout: fixed;
  //         width: max-content;
  //         width: fit-content;
  //     }
  // }
  &.has-control {
    .v-data-table__wrapper > table {
      thead tr th:first-child {
        width: 40px !important;
        padding: 0;
        text-align: center !important;
        .v-icon{
          &::before {
            content: "";
            position: relative;
            display: inline-block;
            width: 18px;
            height: 18px;
            border-radius: 2px;
            border: 1px solid var(--primary-color);
            background-image: none;
            background-color: #fff;
            box-sizing: border-box;
            transition: all 0.3s;
          }
          &::after {
            content: "";
            opacity: 1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: inline-block;
            width: 10px;
            height: 2px;
            background-color: transparent;
            transition: all 0.3s;
            background-color: #FFF;
            border-radius: 1px;

          }
          &.mdi-checkbox-marked {
            &::before {
              background-color: $color-main;
            }
          }
        }
        &:hover {
          .v-input--selection-controls__input {
            .v-icon:not(.mdi-checkbox-marked) {
              &::before {
              }
              &::after {
                width: 10px;
                height: 2px;
                background-color: transparent;
                transition: all 0.3s;
                background-color: $color-main;
                border-radius: 1px;
              }
              &.mdi-checkbox-marked {
                &::before {
                  opacity: .5;
                }
                &::after {
                  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.65767 1.1424C10.1007 1.56699 10.1157 2.27035 9.6911 2.71339L4.34388 8.29309C4.13431 8.51177 3.84455 8.63542 3.54167 8.63542C3.23878 8.63542 2.94903 8.51177 2.73946 8.29309L0.308904 5.75686C-0.115684 5.31382 -0.100719 4.61046 0.342328 4.18587C0.785375 3.76128 1.48873 3.77625 1.91332 4.21929L3.54167 5.91844L8.08668 1.17582C8.51127 0.732777 9.21462 0.717813 9.65767 1.1424Z' fill='white'/%3E%3C/svg%3E%0A");
                }
              }
            }
          }
        }
      }
      tbody tr td:first-child {
        padding: 0;
        text-align: center !important;
        .v-icon{
          &::before {
            content: "";
            position: relative;
            display: inline-block;
            width: 18px;
            height: 18px;
            border-radius: 2px;
            border: 1px solid var(--primary-color);
            background-image: none;
            background-color: #fff;
            box-sizing: border-box;
            transition: all 0.3s;
          }
          &::after {
            content: "";
            opacity: 1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: inline-block;
            width: 10px;
            height: 10px;
            background-color: transparent;
            transition: all 0.3s;
            background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.65767 1.1424C10.1007 1.56699 10.1157 2.27035 9.6911 2.71339L4.34388 8.29309C4.13431 8.51177 3.84455 8.63542 3.54167 8.63542C3.23878 8.63542 2.94903 8.51177 2.73946 8.29309L0.308904 5.75686C-0.115684 5.31382 -0.100719 4.61046 0.342328 4.18587C0.785375 3.76128 1.48873 3.77625 1.91332 4.21929L3.54167 5.91844L8.08668 1.17582C8.51127 0.732777 9.21462 0.717813 9.65767 1.1424Z' fill='white'/%3E%3C/svg%3E%0A");
          }
          &.mdi-checkbox-marked {
            &::before {
              background-color: $color-main;
            }
          }
        }
        &:hover {
          .v-input--selection-controls__input {
            .v-icon:not(.mdi-checkbox-marked) {
              &::before {
              }
              &::after {
                background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_4_2)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.65767 1.1424C10.1007 1.56699 10.1157 2.27035 9.6911 2.71339L4.34388 8.29309C4.13431 8.51177 3.84455 8.63542 3.54167 8.63542C3.23878 8.63542 2.94903 8.51177 2.73946 8.29309L0.308904 5.75686C-0.115684 5.31382 -0.100719 4.61046 0.342328 4.18587C0.785375 3.76128 1.48873 3.77625 1.91332 4.21929L3.54167 5.91844L8.08668 1.17582C8.51127 0.732777 9.21462 0.717813 9.65767 1.1424Z' fill='%234C5CBB'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4_2'%3E%3Crect width='10' height='10' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
              }
              &.mdi-checkbox-marked {
                &::before {
                  opacity: .5;
                }
                &::after {
                  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.65767 1.1424C10.1007 1.56699 10.1157 2.27035 9.6911 2.71339L4.34388 8.29309C4.13431 8.51177 3.84455 8.63542 3.54167 8.63542C3.23878 8.63542 2.94903 8.51177 2.73946 8.29309L0.308904 5.75686C-0.115684 5.31382 -0.100719 4.61046 0.342328 4.18587C0.785375 3.76128 1.48873 3.77625 1.91332 4.21929L3.54167 5.91844L8.08668 1.17582C8.51127 0.732777 9.21462 0.717813 9.65767 1.1424Z' fill='white'/%3E%3C/svg%3E%0A");
                }
              }
            }
          }
        }
      }
    }
  }
  &.type-hover-func {
    table {
      table-layout: auto;
      tr {
        position: relative;
        &.hover .grid-hover-func-wrap {
          display: flex !important;
          width: auto;
          height: 100%;
        }
        .grid-hover-func-wrap {
          display: none;
          width: 100px;
          justify-content: center;
          align-items: center;
          position: absolute;
          right: 0;
          top: 0;
          // background: #c3c4ca;
          gap: 4px;
        }
        td {
          width: auto;
        }
      }
    }

  }
  &.is-rowspan {
    thead:not(.multi-row),
    tbody{
      tr{
        &:last-child td{
          border-bottom: 1px solid $color-border !important;
        }
        td,th {
          border-right: 1px solid $color-border !important;
          &:last-child{
            border-right: 0 !important;
          }
        }
        &:not(:first-child) {
          td:first-child{
            border-right: 1px solid $color-border !important;
          }
        }
      }
    }

  }
  &.type-img {
    .v-data-table__wrapper {
      border: 0;
    }
    tbody {
      display: flex;
      flex-wrap: wrap;
      row-gap: 30px;
      column-gap: 38px;
      justify-content: flex-start;

      .pl-img-grid-unit {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 206px;
        .pl-img-grid-unit-img {
          overflow: hidden;
          max-width: 206px;
          max-height: 130px;
          border-radius: 5px;
        }
        .pl-img-grid-unit-title {
          overflow: hidden;
          width: 100%;
          text-overflow: ellipsis;
          white-space: nowrap;
          text-align: center;
        }
        &.hover {
          &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 130px;
            border-radius: 5px;
            background: rgba(40, 40, 40, 0.6);
          }
          .grid-hover-func-wrap {
            position: absolute;
            z-index: 2;
            display: flex !important;
            flex-direction: column;
            margin-top: -8px;
          }
        }
        .grid-hover-func-wrap {
          display: none;
          width: 100px;
          justify-content: center;
          position: absolute;
          top: 45%;
          left: 50%;
          gap: 4px;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  &.type-temaplate {
    .v-data-table__wrapper {
      border: 0;
      table {
        table-layout: auto;
      }
    }
    tbody {
      display: flex;
      flex-wrap: wrap;
      row-gap: 30px;
      justify-content: flex-start;
      padding: 0 0 10px;
      > tr {
        position: relative;
        margin: 0 16px;
        &:nth-child(even) {
          margin-right: 0;
        }
        td {
          padding: 0;
          border-bottom: 0 !important;
          &:first-child{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: transparent !important;
            cursor: pointer;
            .v-simple-checkbox,
            .v-input--selection-controls__input {
              width: 100%;
              height: 100%;
            }
          }
        }
        &.v-data-table__selected,
        &:hover {
          background: #FFF !important;
          border-color: $color-main;
          &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 5px;
            background: rgba(78, 149, 255, 0.2);
          }
          td{
            background-color: #FFF !important;
          }
        }
        .mdi-checkbox {
          &-blank-outline{
            position: absolute;
            top: 12px;
            width: calc(100% - 12px);
            height: calc(100% - 12px);
            left: 12px;
            z-index: 1;
            background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='17' height='17' rx='8.5' fill='white' stroke='%234C5CBB'/%3E%3C/svg%3E%0A");
            &::before,
            &::after {
              display: none;
            }
          }
          &-marked{
            position: absolute;
            top: 12px;
            width: calc(100% - 12px);
            height: calc(100% - 12px);
            left: 12px;
            z-index: 1;
            background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='18' height='18' rx='9' fill='%234C5CBB'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.6577 5.1424C14.1007 5.56699 14.1157 6.27035 13.6911 6.71339L8.34388 12.2931C8.13431 12.5118 7.84455 12.6354 7.54167 12.6354C7.23878 12.6354 6.94903 12.5118 6.73946 12.2931L4.3089 9.75686C3.88432 9.31382 3.89928 8.61046 4.34233 8.18587C4.78538 7.76128 5.48873 7.77625 5.91332 8.21929L7.54167 9.91844L12.0867 5.17582C12.5113 4.73278 13.2146 4.71781 13.6577 5.1424Z' fill='white'/%3E%3C/svg%3E%0A");
            &::before,
            &::after {
              display: none;
            }
          }

        }
      }



      .pl-img-grid-unit {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 150px;
        border: 1px solid $color-border;
        border-radius: 5px;
        cursor: pointer;
        .pl-img-grid-unit-img {
          position: relative;
          overflow: hidden;
          width: 100%;
        }

      }
    }
  }
  &.has-img {
    tbody {
      th,td {
        height: 58px;
      }
    }
  }
  &.has-chart {
    tbody {
      th,td {
        height: 80px;
        .v-progress-circular__overlay {
          animation: circularAnimation 1s ease;
        }

      }
    }
  }
  &.is-hover {
    tbody {
      td {
        cursor: pointer;
      }
    }
  }
  &.is-nowrap {
    tbody {
      td {
        white-space: normal;
      }
    }
  }

  .v-data-table__checkbox.v-simple-checkbox {
    .v-input--selection-controls__input {
      margin-right: 0;
    }
    .v-icon.v-icon {
      font-size: 16px;
      color: $color-main;
    }
  }
  table {
    table-layout: fixed;
    thead {
      th {
        min-width: 30px !important;
        height: 35px;
        padding: 0 16px;
        border-bottom: 1px solid $color-border !important;
        background-color: $color-tbody-th;
        filter: saturate(124%);
        line-height: 1;
        box-shadow: none !important;
        &:first-child {
          border-left: 0;
        }
        .pl-btn.is-icon {
          position: absolute;
          top: 3px;
          right: 0;
        }
      }
      > tr:nth-child(1) > th {
        &:first-child {
          border-left: 0;
        }
      }
      > tr:nth-child(2) > th {
        top: 35px;
        &:first-child {
          border-right: 1px solid $color-border;
        }
      }
      > tr:nth-child(3) > th {
        top: 75px;
        &:first-child {
          border-right: 1px solid $color-border;
        }
      }
      &.multi-row {
        th {
          border-right: 1px solid $color-border;
        }
      }
    }
    tbody {
      th,
      td {
        min-width: 30px !important;
        height: 35px;
        border-bottom: 1px solid $color-border !important;
        line-height: 1.6;
        box-sizing: border-box;
        &:first-child {
          // border-left: 0;
        }
      }
      td {
        width: 100%;
        padding: 0 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        box-sizing: border-box;
        .v-text-field.pl-form {
          border-color: $color-main;
          &.v-input--is-disabled{
            border-color: $color-bg-default;
            background-color: #FFF;
            .v-input__control .v-input__slot{
              background-color: $color-bg-disable;
            }
          }
          .v-input__control .v-input__slot{
            background-color: #FFF;
          }
        }
      }
      tr {
        &:nth-child(even) {
          // background-color: #f8f8f8;
        }
        &:last-child {
          td {
            border-bottom: 0 !important;
          }
        }
        &:not(.v-data-table__empty-wrapper):hover td {
          background-color: $color-bg-list;
        }
        &.v-data-table__selected {
          background-color: $color-bg-list;
          &:hover td {
            background-color: $color-bg-list;
          }
        }
        &.active {
          background-color: $color-bg-active;
          &:hover td {
            background-color: $color-bg-list;
          }
        }
        &.v-data-table__expanded__content {
          background-color: rgba($color-red, 0.08);
          box-shadow: none;
          td {
            padding: 10px;
          }
          &:hover td {
            background-color: transparent;
          }
        }
      }
    }
    th,
    td {
      min-width: 30px !important;
      font-size: 13px;
      line-height: 1.2;
      color: #000;
      box-sizing: border-box;
      // min-width: inherit !important;
    }
  }
  .v-data-table-header th.sortable .v-data-table-header__icon {
    top: -1px;
    margin-right: -10px;
    &::before {
      font-size: 14px;
    }
  }
  .pl-grid-portrait {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    vertical-align: middle;
    flex-shrink: 0;
  }

  // mark: no data
  .v-data-table__wrapper{
    tbody{
      tr.v-data-table__empty-wrapper {
        width: 100%;
        height: calc(100% - 1px);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M55.4773 53.8177L49.3525 47.4575C51.0517 45.1404 52.0746 42.2579 52.0746 39.1313C52.0691 35.4762 50.6679 31.9725 48.1782 29.3888C45.6886 26.805 42.3137 25.3521 38.7939 25.3487C35.2755 25.3543 31.9027 26.8082 29.4148 29.3918C26.9269 31.9753 25.5268 35.4777 25.5214 39.1313C25.5247 42.7872 26.9244 46.2925 29.4134 48.878C31.9024 51.4635 35.2774 52.9181 38.798 52.9226C41.813 52.9226 44.5887 51.8604 46.8159 50.0958L52.9407 56.4518C53.1061 56.6254 53.3029 56.7633 53.5199 56.8574C53.7369 56.9515 53.9697 56.9999 54.2049 56.9999C54.44 56.9999 54.6729 56.9515 54.8899 56.8574C55.1068 56.7633 55.3037 56.6254 55.469 56.4518C55.6366 56.2796 55.7697 56.0748 55.8608 55.8491C55.9519 55.6234 55.9992 55.3813 56 55.1365C56.0008 54.8918 55.955 54.6493 55.8653 54.423C55.7756 54.1967 55.6437 53.991 55.4773 53.8177ZM29.1055 39.1313C29.1088 36.463 30.131 33.9049 31.948 32.018C33.765 30.1312 36.2284 29.0697 38.798 29.0663C41.3686 29.0663 43.8339 30.1267 45.6516 32.0143C47.4693 33.9018 48.4905 36.4619 48.4905 39.1313C48.4905 41.8008 47.4693 44.3608 45.6516 46.2484C43.8339 48.136 41.3686 49.1964 38.798 49.1964C36.2287 49.1919 33.766 48.13 31.9492 46.2434C30.1325 44.3568 29.1099 41.7994 29.1055 39.1313ZM44.3454 16.9668C44.3454 17.9948 43.5411 18.8257 42.5512 18.8257H24.6223C24.1475 18.8257 23.6922 18.6298 23.3565 18.2812C23.0208 17.9326 22.8322 17.4598 22.8322 16.9668C22.8322 16.4739 23.0208 16.0011 23.3565 15.6525C23.6922 15.3039 24.1475 15.108 24.6223 15.108H42.5512C43.5411 15.108 44.3454 15.9389 44.3454 16.9668ZM9.98045 53.2738H21.9331C22.3879 53.3058 22.814 53.5161 23.1253 53.8619C23.4365 54.2078 23.6097 54.6635 23.6097 55.1369C23.6097 55.6103 23.4365 56.066 23.1253 56.4119C22.814 56.7577 22.3879 56.968 21.9331 57H9.98045C6.68914 57 4 54.216 4 50.7897V17.665C4 16.8298 4.28871 16.0203 4.80427 15.3779L13.8533 4.19924C14.1568 3.82421 14.5355 3.52257 14.9629 3.31542C15.3904 3.10828 15.8563 3.00062 16.328 3H45.5374C48.8328 3 51.5178 5.78395 51.5178 9.21034V22.5476C51.5178 23.0417 51.3288 23.5156 50.9923 23.865C50.6559 24.2144 50.1995 24.4107 49.7237 24.4107C49.2478 24.4107 48.7915 24.2144 48.455 23.865C48.1186 23.5156 47.9295 23.0417 47.9295 22.5476V9.20606C47.9284 8.54945 47.6771 7.91999 47.2303 7.4553C46.7836 6.9906 46.1779 6.72847 45.5456 6.72621H19.244V17.4937C19.2364 18.2786 18.9296 19.0285 18.3908 19.5791C17.8521 20.1298 17.1252 20.4364 16.3692 20.4318H7.5924V50.7939C7.5924 52.1602 8.66475 53.2738 9.98045 53.2738ZM15.6598 7.75412L8.41316 16.7056H15.6598V7.75412ZM20.1431 35.6364C20.6189 35.6364 21.0753 35.4401 21.4118 35.0907C21.7482 34.7413 21.9372 34.2674 21.9372 33.7733C21.9372 33.2792 21.7482 32.8053 21.4118 32.4559C21.0753 32.1065 20.6189 31.9102 20.1431 31.9102H13.8657C13.3899 31.9102 12.9335 32.1065 12.597 32.4559C12.2606 32.8053 12.0716 33.2792 12.0716 33.7733C12.0716 34.2674 12.2606 34.7413 12.597 35.0907C12.9335 35.4401 13.3899 35.6364 13.8657 35.6364H20.1431ZM20.1431 44.1896C20.6184 44.1896 21.0742 43.9935 21.4103 43.6445C21.7464 43.2955 21.9352 42.8222 21.9352 42.3286C21.9352 41.835 21.7464 41.3617 21.4103 41.0127C21.0742 40.6637 20.6184 40.4676 20.1431 40.4676H13.8657C13.3904 40.4676 12.9346 40.6637 12.5985 41.0127C12.2624 41.3617 12.0736 41.835 12.0736 42.3286C12.0736 42.8222 12.2624 43.2955 12.5985 43.6445C12.9346 43.9935 13.3904 44.1896 13.8657 44.1896H20.1431ZM21.9331 23.507H13.8657C13.3904 23.507 12.9346 23.703 12.5985 24.052C12.2624 24.401 12.0736 24.8744 12.0736 25.3679C12.0736 25.8615 12.2624 26.3348 12.5985 26.6838C12.9346 27.0328 13.3904 27.2289 13.8657 27.2289H21.9331C22.4084 27.2289 22.8642 27.0328 23.2003 26.6838C23.5364 26.3348 23.7252 25.8615 23.7252 25.3679C23.7252 24.8744 23.5364 24.401 23.2003 24.052C22.8642 23.703 22.4084 23.507 21.9331 23.507Z' fill='%23D3D3D3'/%3E%3C/svg%3E%0A");
        background-position: 50% calc(50% + 10px);
        background-color: #FFF;
        td {
          position: absolute;
          top: calc(50% + 46px);
          left: 50%;
          transform: translateX(-50%);
          color: $color-font-disable;
          border-bottom: 0 !important;
        }
      }

    }
  }
}
.theme--light.v-data-table .v-data-table-header th.sortable .v-data-table-header__icon {
  left: 2px;
  opacity: 1;
  color: #000 !important;
}
.v-icon.v-icon.v-data-table__expand-icon {
  font-size: 16px;
  &:after {
    opacity: 0;
  }
}
.theme--light.v-data-table .v-data-table__empty-wrapper {
  height: 50px;
  background-color: #f8f8f8;
  color: rgba(#000, 0.6);
}
// mark: pager
.pl-pager {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px;
  .v-pagination {
    word-break: keep-all;
    li {
      position: relative;
      height: 30px;
      .v-pagination__navigation,
      .v-pagination__item {
        position: relative;
        min-width: 34px;
        margin: 0;
        font-size: 14px;
        font-weight: bold;
        line-height: 19px;
        color: $color-font-focus;
        box-shadow: none;
        transition: all $easing-time;

        z-index: 1;
        &:hover {
          color: $color-main;
        }
      }
      &:first-child,
      &:last-child {
        .v-pagination__navigation {
          background: transparent !important;
          border: 0 !important;
        }
      }
      &:first-child {
        padding-right: 20px;
      }
      &:last-child {
        padding-left: 20px;
      }

      &:hover{
        &::after {
          opacity: 1;
        }
      }
      .v-pagination__item--active {
        // background: #F3F5FF !important;
        background: color-mix(in srgb,var(--primary-color),#fff 91%) !important;
        border: 1px solid $color-main !important;
        border-radius: 80px;
        color: $color-main;

        &:hover {
        }
      }
      .v-pagination__navigation .v-icon {
        color: $color-main;
      }
      .v-pagination__more {
        align-items: center;
        position: relative;
        top: -7px;
        width: 30px;
        height: 18px;
        font-size: 22px;
        color: #999;
      }
    }
  }
  .pl-pager-row {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 0 0 200px;
    .v-select {
      flex: 0 0 70px;
      border-radius: 30px !important;
      // border-color: #BAC6EFB8;
      border-color: color-mix(in srgb,var(--primary-color),#fff 91%);
      .v-input__slot {
        background: #FFF !important;
        .v-select__selections {
          justify-content: center;
          input {
            display: none;
          }
        }
      }
    }
  }
  .pl-pager-period {
    flex: 0 0 250px;
    font-size: 13px;
    text-align: right;
    color: $color-font-focus;
    > button {
      margin-left: 12px;
    }
  }
  &.type-toastUI{
    position: absolute;
    .pl-pager-row{}
    .pl-pager-period{}
  }
}
.pl-grid-top {
  display: flex;
  justify-content: space-between;
  &-left {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  &-utils {
    display: flex;
    align-items: center;
    gap: 6px;

  }
  & + .pl-grid {
    margin-top: 14px;
  }
}

.pl-counter {
  margin-left: auto;
  font-size: 13px;
  font-weight: 400;
  color: $color-font-focus;
  em {
    position: relative;
    font-weight: 700;
    color: $color-font-focus;
  }
}

// mark: 합계
.pl-grid-sum {
  overflow-y: scroll;
  margin-top: -1px;
  border-top: 1px solid $color-border !important;
  table {
    width: 100%;
    border-spacing: 0;
    background: $color-bg-drop-focus !important;
    font-weight: bold;
    &-head {
      font-weight: normal;
    }
    tr{
      td {
        width: auto !important;
        border-bottom:  0 !important;
      }
      &:last-child{
        td {
          border-bottom: 0 !important;
        }
      }
    }
  }
}



.theme--light.v-data-table.pl-grid.is-rowspan .pl-grid-sum tbody tr:last-child td,
.theme--light.v-data-table.v-data-table--fixed-header.pl-grid.is-rowspan .pl-grid-sum tr:last-child td {
  border-bottom: 0 !important;
}

@keyframes circularAnimation {
  from {
    stroke-dashoffset: 126;
  }
  to {
  }
}