@charset "utf-8";

.v-tooltip__content.pl-tooltip {
  opacity: 1;
  padding: 8px 12px;
  border-radius: 4px;
  background: #4b4b4b;
  font-size: 13px;
  line-height: 1.4;
  color: #fff;
  white-space: pre-line;
  box-sizing: border-box;
  z-index: 210 !important;
  &::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: -8px;
    left: calc(50% - 4px);
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.216246 4.71873L8.7428 0.116714C8.84566 0.0610588 8.9768 0.0231245 9.11962 0.00771154C9.26243 -0.00770147 9.41051 9.97946e-05 9.54511 0.0301285C9.67971 0.0601572 9.79478 0.111062 9.87576 0.176402C9.95673 0.241743 9.99997 0.318581 10 0.397189V9.60281C9.99997 9.68142 9.95673 9.75826 9.87576 9.8236C9.79478 9.88894 9.67971 9.93984 9.54511 9.96987C9.41051 9.9999 9.26243 10.0077 9.11962 9.99229C8.9768 9.97688 8.84566 9.93894 8.7428 9.88329L0.216246 5.28127C0.147699 5.24437 0.0933148 5.20053 0.0562077 5.15226C0.0191006 5.104 3.17403e-09 5.05226 0 5C-3.17403e-09 4.94774 0.0191006 4.896 0.0562077 4.84774C0.0933148 4.79947 0.147699 4.75563 0.216246 4.71873Z' fill='%234B4B4B'/%3E%3C/svg%3E%0A");
    transform: rotate(90deg);
  }
  &.right::after {
    top: 50%;
    left: -8px;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.216246 4.71873L8.7428 0.116714C8.84566 0.0610588 8.9768 0.0231245 9.11962 0.00771154C9.26243 -0.00770147 9.41051 9.97946e-05 9.54511 0.0301285C9.67971 0.0601572 9.79478 0.111062 9.87576 0.176402C9.95673 0.241743 9.99997 0.318581 10 0.397189V9.60281C9.99997 9.68142 9.95673 9.75826 9.87576 9.8236C9.79478 9.88894 9.67971 9.93984 9.54511 9.96987C9.41051 9.9999 9.26243 10.0077 9.11962 9.99229C8.9768 9.97688 8.84566 9.93894 8.7428 9.88329L0.216246 5.28127C0.147699 5.24437 0.0933148 5.20053 0.0562077 5.15226C0.0191006 5.104 3.17403e-09 5.05226 0 5C-3.17403e-09 4.94774 0.0191006 4.896 0.0562077 4.84774C0.0933148 4.79947 0.147699 4.75563 0.216246 4.71873Z' fill='%234B4B4B'/%3E%3C/svg%3E%0A");
    transform: translateY(-50%);

  }
  &.left::after {
    top: 50%;
    left: initial;
    right: -8px;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.216246 4.71873L8.7428 0.116714C8.84566 0.0610588 8.9768 0.0231245 9.11962 0.00771154C9.26243 -0.00770147 9.41051 9.97946e-05 9.54511 0.0301285C9.67971 0.0601572 9.79478 0.111062 9.87576 0.176402C9.95673 0.241743 9.99997 0.318581 10 0.397189V9.60281C9.99997 9.68142 9.95673 9.75826 9.87576 9.8236C9.79478 9.88894 9.67971 9.93984 9.54511 9.96987C9.41051 9.9999 9.26243 10.0077 9.11962 9.99229C8.9768 9.97688 8.84566 9.93894 8.7428 9.88329L0.216246 5.28127C0.147699 5.24437 0.0933148 5.20053 0.0562077 5.15226C0.0191006 5.104 3.17403e-09 5.05226 0 5C-3.17403e-09 4.94774 0.0191006 4.896 0.0562077 4.84774C0.0933148 4.79947 0.147699 4.75563 0.216246 4.71873Z' fill='%234B4B4B'/%3E%3C/svg%3E%0A");
    transform: translateY(-50%) rotate(180deg);
  }
  &.top::after {
    top: 33px;
    left: calc(50% - 4px);
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.216246 4.71873L8.7428 0.116714C8.84566 0.0610588 8.9768 0.0231245 9.11962 0.00771154C9.26243 -0.00770147 9.41051 9.97946e-05 9.54511 0.0301285C9.67971 0.0601572 9.79478 0.111062 9.87576 0.176402C9.95673 0.241743 9.99997 0.318581 10 0.397189V9.60281C9.99997 9.68142 9.95673 9.75826 9.87576 9.8236C9.79478 9.88894 9.67971 9.93984 9.54511 9.96987C9.41051 9.9999 9.26243 10.0077 9.11962 9.99229C8.9768 9.97688 8.84566 9.93894 8.7428 9.88329L0.216246 5.28127C0.147699 5.24437 0.0933148 5.20053 0.0562077 5.15226C0.0191006 5.104 3.17403e-09 5.05226 0 5C-3.17403e-09 4.94774 0.0191006 4.896 0.0562077 4.84774C0.0933148 4.79947 0.147699 4.75563 0.216246 4.71873Z' fill='%234B4B4B'/%3E%3C/svg%3E%0A");
    transform: rotate(270deg);
  }
}
