@charset "utf-8";

@import 'textfield';
@import 'select';
@import 'selection';
@import 'button';
@import 'chip';
@import 'datatable';
@import 'dialog';
@import 'card';
@import 'tabs';
@import 'tooltip';
@import 'pickers';
@import 'calendar';
@import 'grid';
@import 'tree';
@import 'slider';

.v-application p{margin-bottom: 0;}