@charset "utf-8";

.pl-alert {
  position: relative;
  min-width: 420px;
  width: auto;
  padding: 16px;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 10px;
  &.alert-type-is-caution{
    border: 2px solid $color-red;
  }
  &.alert-type-is-done{
    border: 2px solid $color-blue;
  }
  &.alert-type-is-info{
    border: 2px solid $color-border2;
  }
  .dialog-close-btn {
    position: absolute !important;
    top: 8px;
    right: 8px;
    z-index: 1;
  }
  .pl-alert-body {
    padding: 30px 50px;
    font-size: 14px;
    color: $color-font-focus;
  }
  h1 {
    font-size: 18px;
    // font-weight: 700;
  }
  em {
    color: $color-red;
  }
  .pl-alert-copy {
    margin-top: 12px;
    font-size: 15px;
    word-break: keep-all;
  }
  .pl-alert-badge {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 3px;
    background-color: $color-red;
    font-family: $font-title;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
  }
  .pl-alert-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    .pl-btn + .pl-btn {
      margin-left: 8px;
    }
  }
}

@media screen and (max-width: 768px) {
  .pl-alert {
    min-width: auto;
    padding: 12px;
  }
}
