@charset "utf-8";

.pl-filelist{
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid $color-border;
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    padding: 0 12px;
    background: $color-bg-filelist;
    &-total {
      font-size: 13px;
      font-weight: 700;
    }
  }
  &-body {
    &-list {
      display: flex;
      align-items: center;
      padding: 0 12px;
      border-bottom: 1px solid $color-border;
      height: 38px;
      .pl-check {
        margin-right: 16px;
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}