@charset "utf-8";

.pl-toast {
  &.info .v-snack__wrapper {
    background-color: rgba(63 81 181 / 1);
  }
  &.success .v-snack__wrapper {
    background-color: rgba(53 152 97 / 1);
  }
  &.warning .v-snack__wrapper {
    background-color: rgba(255 45 16/ 1);
  }
  &.v-snack--active{
    .v-sheet.v-snack__wrapper{
    }
  }

}
.v-sheet.v-snack__wrapper{
  // border-radius: 25px !important;
  margin: 8px 8px 30px;
  .v-snack__content {
    display: flex;
    align-items: center;
    min-height: auto;
    padding: 0 16px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0;
    user-select: none;
    i {
      margin-right: 10px;
    }
  }
}

