@charset "utf-8";
.form-drop{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 12px;
  border: 2px dashed $color-main !important;
}

.dropzone {
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  min-height: 150px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: #fff;
  padding: 20px 20px;

  &.dz-clickable {
    cursor: pointer;

    * {
      cursor: default;
    }

    .dz-message {
      cursor: pointer;

      * {
        cursor: pointer;
      }
    }
  }

  &.dz-started .dz-message {
    display: none;
  }

  &.dz-drag-hover {
    border-style: solid;

    .dz-message {
      opacity: 0.5;
    }
  }

  .dz-message {
    text-align: center;
    margin: 2em 0;
  }

  .dz-preview {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 16px;
    min-width: 100%;
    min-height: 150px;

    &:hover {
      z-index: 1000;
    }

    &.dz-file-preview {
      .dz-image {
        border-radius: 20px;
        background: #999;
        background: linear-gradient(180deg, #eee, #ddd);
      }

      .dz-details {
        opacity: 1;
      }
    }

    &.dz-image-preview {
      background: #fff;

      .dz-details {
        transition: opacity 0.2s linear;
      }
    }

    .dz-remove {
      font-size: 14px;
      text-align: center;
      display: block;
      cursor: pointer;
      border: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &:hover .dz-details {
      opacity: 1;
    }

    .dz-details {
      z-index: 20;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      font-size: 13px;
      min-width: 100%;
      max-width: 100%;
      padding: 2em 1em;
      text-align: center;
      color: rgba(0, 0, 0, 0.9);
      line-height: 150%;

      .dz-size {
        margin-bottom: 1em;
        font-size: 16px;
      }

      .dz-filename {
        white-space: nowrap;

        &:hover span {
          border: 1px solid hsla(0, 0%, 78.4%, 0.8);
          background-color: hsla(0, 0%, 100%, 0.8);
        }

        &:not(:hover) {
          overflow: hidden;
          text-overflow: ellipsis;

          span {
            border: 1px solid transparent;
          }
        }

        span {
          background-color: hsla(0, 0%, 100%, 0.4);
          padding: 0 .4em;
          border-radius: 3px;
        }
      }

      .dz-size span {
        background-color: hsla(0, 0%, 100%, 0.4);
        padding: 0 .4em;
        border-radius: 3px;
      }
    }

    &:hover .dz-image img {
      transform: scale(1.05);
      filter: blur(8px);
    }

    .dz-image {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      overflow: hidden;
      position: relative;
      z-index: 10;

      img {
        flex: 0 1;
      }
    }

    &.dz-success .dz-success-mark {
      -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
      animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
    }

    &.dz-error .dz-error-mark {
      opacity: 1;
      -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
      animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
    }

    .dz-error-mark, .dz-success-mark {
      pointer-events: none;
      opacity: 0;
      z-index: 500;
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      margin-left: -27px;
      margin-top: -27px;
    }

    .dz-error-mark svg, .dz-success-mark svg {
      display: block;
      width: 54px;
      height: 54px;
    }

    &.dz-processing .dz-progress {
      opacity: 1;
      transition: all 0.2s linear;
    }

    &.dz-complete .dz-progress {
      opacity: 0;
      transition: opacity 0.4s ease-in;
    }

    &:not(.dz-processing) .dz-progress {
      -webkit-animation: pulse 6s ease infinite;
      animation: pulse 6s ease infinite;
    }

    .dz-progress {
      opacity: 1;
      z-index: 1000;
      pointer-events: none;
      position: absolute;
      height: 16px;
      left: 50%;
      top: 50%;
      margin-top: -8px;
      width: 80px;
      margin-left: -40px;
      background: hsla(0, 0%, 100%, 0.9);
      -webkit-transform: scale(1);
      border-radius: 8px;
      overflow: hidden;

      .dz-upload {
        background: #333;
        background: linear-gradient(180deg, #666, #444);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 0;
        transition: width 0.3s ease-in-out;
      }
    }

    &.dz-error {
      .dz-error-message {
        display: block;
      }

      &:hover .dz-error-message {
        opacity: 1;
        pointer-events: auto;
      }
    }

    .dz-error-message {
      pointer-events: none;
      z-index: 1000;
      position: absolute;
      display: block;
      display: none;
      opacity: 0;
      transition: opacity .3s ease;
      border-radius: 8px;
      font-size: 13px;
      top: 130px;
      left: -10px;
      width: 140px;
      background: #be2626;
      background: linear-gradient(180deg, #be2626, #a92222);
      padding: .5em 1.2em;
      color: #fff;

      &:after {
        content: "";
        position: absolute;
        top: -6px;
        left: 64px;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #be2626;
      }
    }
  }
}

.vue-dropzone {
  border: 2px solid #e5e5e5;
  font-family: Arial,sans-serif;
  letter-spacing: .2px;
  color: #777;
  transition: 0.2s linear;

  &:hover {
    background-color: #f6f6f6;
  }

  > {
    i {
      color: #ccc;
    }

    .dz-preview {
      .dz-image {
        border-radius: 0;

        img:not([src]) {
          width: 400px;
          height: 200px;
        }

        &:hover img {
          transform: none;
          -webkit-filter: none;
        }
      }

      .dz-details {
        bottom: 0;
        top: 0;
        color: #fff;
        background-color: rgba(33, 150, 243, 0.8);
        transition: opacity .2s linear;
        text-align: left;

        .dz-filename {
          overflow: hidden;

          span {
            background-color: transparent;
          }
        }

        .dz-size span {
          background-color: transparent;
        }

        .dz-filename {
          &:not(:hover) span {
            border: none;
          }

          &:hover span {
            background-color: transparent;
            border: none;
          }
        }
      }

      .dz-progress .dz-upload {
        background: #ccc;
      }

      .dz-remove {
        position: absolute;
        z-index: 30;
        color: #fff;
        margin-left: 15px;
        padding: 4px 8px 3px;
        top: inherit;
        bottom: 15px;
        border: 1px solid #fff;
        border-radius: 4px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        opacity: 0;
      }

      &:hover .dz-remove {
        opacity: 1;
      }

      .dz-error-mark, .dz-success-mark {
        margin-left: auto;
        margin-top: auto;
        width: 100%;
        top: 35%;
        left: 0;
      }

      .dz-error-mark svg, .dz-success-mark svg {
        margin-left: auto;
        margin-right: auto;
      }

      .dz-error-message {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        width: 100%;
        text-align: center;

        &:after {
          display: none;
        }
      }
    }
  }
}
