@charset "utf-8";

$font-base: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif !default;
$font-title: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif !default;
$letter-spacing: -0.4px;
body,
.theme--light.v-application{
	font-family: $font-base;
	font-size: 13px;
	font-weight: 400;
	color: #000;
	letter-spacing: $letter-spacing;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	text-shadow: 0 0 4px #ccc, 0 -5px 4px #ff3, 2px -10px 6px #fd3, -2px -15px 11px #f80, 2px -19px 180x #f20;
}
h1{
    font-family: $font-title;
	font-size: 34px;
	font-weight: 500;
	// letter-spacing: -1px;
	word-spacing: -2px;
}
h2{
    font-family: $font-title;
	font-size: 28px;
	font-weight: 500;
	// letter-spacing: -1px;
	word-spacing: -2px;
}
h3{
    font-family: $font-title;
	font-size: 24px;
	font-weight: 500;
	// letter-spacing: -1px;
	word-spacing: -2px;
}
h4{
    font-family: $font-title;
	font-size: 20px;
	font-weight: 500;
	// letter-spacing: -2px;
	word-spacing: -2px;
}
h5{
    font-family: $font-title;
	font-size: 16px;
	font-weight: 700;
	// letter-spacing: -1px;
	word-spacing: -2px;
}
h6{
    font-family: $font-title;
	font-size: 14px;
	font-weight: 700;
	// letter-spacing: -1px;
	word-spacing: -2px;
}
em {
	font-style: normal;
	font-size: inherit;
	font-weight: 600;
	// color: darken($color-org, 5%);
	& + span, & + b, & + strong{margin-left: 3px;}
	&.is-value{
		font-size: 16px;
		line-height:1;
		// & + .pl-unit{
		// 	font-size: 11px;
		// }
	}
}
label{display: inline-block;}
.pl{
	&-desc{
		width: 100%;
		margin-bottom:0;
		font-size: 13px;
		color: #666;
		line-height:1.5;
		&.is-reserveCall {
			display: flex;
			align-items: center;
			gap: 8px;
			position: relative;
			min-width: 220px;
		}
	}
	&-label{
		display: flex;
		align-items: center;
		font-size: 13px;
		font-weight: 600;
		white-space: nowrap;
		color: $color-font-focus;
		&.is-required:after{
			content:"";
			position: relative;
			top: -8px;
			left: 2px;
			display: inline-block;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background: $color-red;
		}
		&.has-dot{
			margin-left: 10px;
			&:first-child{margin-left: 0;}
			&:before{
				content:"";
				position: relative;
				top: -3px;
				display: inline-block;
				width: 4px;
				height: 4px;
				margin-right: 4px;
				border-radius: 50%;
				background: $color-fill;
			}
		}
	}
	&-label-value{
		display: inline-block;
		min-width: 21px;
	    height: 21px;
	    padding: 0 8px;
	    border-radius: 12px !important;
	    background: #f2da91;
	    line-height: 19px;
	    letter-spacing: 0;
	    text-align: center;
	    white-space: nowrap;
	    box-sizing: border-box;
	    & + .pl-unit{margin-left: 3px;}
	}
	&-label-won{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		position: relative;
		width: 18px;
		height: 18px;
		border-radius: 50%;
		background: $color-red;
		& + .is-value{
			margin-left:4px;
			font-size: 18px;
		}
	}
	&-label-state{
		display: inline-flex;
		align-items: center;
		height: 18px;
		padding: 0 5px 2px;
		border-radius: 9px;
		border: 1px solid;
		font-size: 11px;
		line-height: 1;
		color: #000;
		white-space: nowrap;
		box-sizing: border-box;
		&.is-blue{
			border-color: $color-blue;
		}
		&.is-red{
			border-color: $color-red;
		}
	}
	&-close-label{
		display: inline-flex;
		align-items: center;
		height: 25px;
		margin-left: 20px;
		padding: 0 5px 0 15px;
		border-radius: 13px 0 13px 13px;
		border: 1px solid #c2d8f2;
		background-color: #e5f1ff;
		white-space: nowrap;
		box-sizing: border-box;
		.is-close{
			width: 20px;
			margin-left: 10px;
			text-align: center;
			opacity: .7;
			cursor: pointer;
			transition: all .2s;
			i{
				position: relative;
				top: -1px
			}
			&:hover{opacity: 1;}
		}
	}
	&-unit{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		min-width: 10px;
		padding: 0 5px;
		font-size: 12px;
		text-align: center;
		&:first-child{padding-left: 0;}
		&:last-child{padding-right: 0;}
	}
	&-link-txt{
		color: darken($color-blue, 5%);
		text-decoration: underline !important;
		cursor: pointer;
		&:hover{color:$color-org;}
	}
	&-no-data{
	    width: 100%;
	    padding: 150px 0 50px;
	    // background: url(../img/icon-nodata.png) no-repeat 50% 60px;
	    text-align: center;
	    color: #999;
	}
	&-txt-area{
		overflow: auto;
		display: inline-block;
		width: 100%;
		padding: 10px 15px;
		border: 1px solid $color-border;
		background: #fff;
	    font-size: 12px;
	    line-height: 1.5;
	    box-sizing: border-box;
	}
	&-txt-counter{
		em{
				font-weight: bold;
				color: $color-red;
		}
	&.is-right{float:right;}
	}
	&-subtit {
		display: flex;
    font-weight: 700;
    font-size: 16px;
		line-height: 1;
    align-items: center;
		&.is-border {
			padding-bottom: 16px;
			border-bottom: 1px solid $color-border;
		}
		&.is-h3 {
			font-size: 13px;
		}
		&.is-inform {
			height: 30px;
		}
	}
	&-subdesc {
		margin-top: 8px;
		font-size: 13px;
	}
}
p{
	&.pl-desc{margin-bottom: 0;}
}
.is{
	&-bold{font-weight: 600 !important;}
}
.is-required{
	position: relative;
	&:after{
		content:"";
		position: relative;
		top: -8px;
		left: 2px;
		display: inline-block;
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background: $color-red;
	}
}

.is-ellips{
	overflow: hidden;
	width: 100%;
	padding-right: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	box-sizing: border-box;
}
// 크롬 자동완성 input 배경 제거
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px white inset;
	box-shadow: 0 0 0 1000px white inset;
}

