@charset "utf-8";

.slide-down {
  // &-enter-active {
  //     transition-duration: 0.5s;
  //     transition-timing-function: ease-in;
  // }
  // &-leave-active {
  //     transition-duration: 0.5s;
  //     transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  // }
  // &-enter-to, &-leave {
  //     max-height: auto;
  //     overflow: hidden;
  // }
  // &-enter, &-leave-to {
  //     overflow: hidden;
  //     max-height: 0;
  // }

  // &-enter-active,
  // &-leave-active {
  //     transition: all 0.4s ease-in-out;
  // }
  &-enter-active {
    transition: all 0.4s ease-in-out;
  }
  &-leave-active {
    transition: all 0.2s ease;
  }

  &-enter-to,
  &-leave {
    overflow: hidden;
    max-height: 1000px;
    opacity: 1;
    transform: translateY(0);
    // margin-bottom: 0;
  }

  &-enter,
  &-leave-to {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: translateY(-5px);
    // margin-bottom: -100px;
  }
}
.slide-left {
  &-leave-active,
  &-active {
    transition: 1s;
  }
  &-enter {
    transform: translate(100%, 0);
  }
  &-leave-to {
    transform: translate(-100%, 0);
  }
}

.slide-right {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 60px;
  bottom: 45px;
  width: 800px;
  // padding: 20px;
  border: 1px solid $color-border;
  background: #fff;
  box-shadow: 0 0 6px rgba(#000, 0.2);
  transition: all 0.5s ease;
  opacity: 1;
}

.slide {
  &-enter {
    right: -100%;
    z-index: -1;
    opacity: 0;
  }
  &-leave-active {
    // right: -100%;
    opacity: 0;
    transition: 0.1s ease-in-out;
  }
}

.fade {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.3s ease;
  }
  &-enter,
  &-leave-to {
    opacity: 0;
  }
}

.slide-y-transition-enter-active,
.slide-y-transition-leave-active {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
}

.slide-y-transition-move {
  transition: transform 0.6s;
}

.slide-y-transition-enter,
.slide-y-transition-leave-to {
  opacity: 0;
  transform: translateY(-15px);
}

.slide-y-reverse-transition-enter-active,
.slide-y-reverse-transition-leave-active {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
}

.slide-y-reverse-transition-move {
  transition: transform 0.6s;
}

.slide-y-reverse-transition-enter,
.slide-y-reverse-transition-leave-to {
  opacity: 0;
  transform: translateY(15px);
}

.scroll-y-transition-enter-active,
.scroll-y-transition-leave-active {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
}

.scroll-y-transition-move {
  transition: transform 0.6s;
}

.scroll-y-transition-enter,
.scroll-y-transition-leave-to {
  opacity: 0;
}

.scroll-y-transition-enter {
  transform: translateY(-15px);
}

.scroll-y-transition-leave-to {
  transform: translateY(15px);
}

.scroll-y-reverse-transition-enter-active,
.scroll-y-reverse-transition-leave-active {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
}

.scroll-y-reverse-transition-move {
  transition: transform 0.6s;
}

.scroll-y-reverse-transition-enter,
.scroll-y-reverse-transition-leave-to {
  opacity: 0;
}

.scroll-y-reverse-transition-enter {
  transform: translateY(15px);
}

.scroll-y-reverse-transition-leave-to {
  transform: translateY(-15px);
}

.scroll-x-transition-enter-active,
.scroll-x-transition-leave-active {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
}

.scroll-x-transition-move {
  transition: transform 0.6s;
}

.scroll-x-transition-enter,
.scroll-x-transition-leave-to {
  opacity: 0;
}

.scroll-x-transition-enter {
  transform: translateX(-15px);
}

.scroll-x-transition-leave-to {
  transform: translateX(15px);
}

.scroll-x-reverse-transition-enter-active,
.scroll-x-reverse-transition-leave-active {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
}

.scroll-x-reverse-transition-move {
  transition: transform 0.6s;
}

.scroll-x-reverse-transition-enter,
.scroll-x-reverse-transition-leave-to {
  opacity: 0;
}

.scroll-x-reverse-transition-enter {
  transform: translateX(15px);
}

.scroll-x-reverse-transition-leave-to {
  transform: translateX(-15px);
}

.slide-x-transition-enter-active,
.slide-x-transition-leave-active {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
}

.slide-x-transition-move {
  transition: transform 0.6s;
}

.slide-x-transition-enter,
.slide-x-transition-leave-to {
  opacity: 0;
  transform: translateX(-15px);
}

.slide-x-reverse-transition-enter-active,
.slide-x-reverse-transition-leave-active {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
}

.slide-x-reverse-transition-move {
  transition: transform 0.6s;
}

.slide-x-reverse-transition-enter,
.slide-x-reverse-transition-leave-to {
  opacity: 0;
  transform: translateX(15px);
}

.fade-transition-enter-active,
.fade-transition-leave-active {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
}

.fade-transition-move {
  transition: transform 0.6s;
}

.fade-transition-enter,
.fade-transition-leave-to {
  opacity: 0 !important;
}

.fab-transition-enter-active,
.fab-transition-leave-active {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
}

.fab-transition-move {
  transition: transform 0.6s;
}

.fab-transition-enter,
.fab-transition-leave-to {
  transform: scale(0) rotate(-45deg);
}

.fade-in-from-top-enter-active,
.fade-in-from-top-leave-active {
  transition: opacity 0.5s;
}
.fade-in-from-top-enter, .fade-in-from-top-leave-to /* .fade-in-from-top-leave-active in <2.1.8 */ {
  opacity: 0;
  transform: translateY(-20px);
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s, transform 0.5s;
}

.toast-popup-transition-enter-active,
.toast-popup-transition-leave-active {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
}

.toast-popup-transition-move {
  transition: transform 0.6s;
}

.toast-popup-transition-enter{
  opacity: 0;
  transform: scaleX(0)
}
.toast-popup-transition-leave-to {
  opacity: 0;
  transform: scaleX(0)
}